<div class="col-md-12 home-search">
  <div class="search-container">
    <h3>Search rare and unique items from the UH Libraries Collections</h3>
    <div class="search-box">
      <%= render partial: 'catalog/search_form' %>
    </div>
    <ul class="search-browse">
      <li><span>or browse</span></li>
      <li>
        <%= link_to "Collections", 
          main_app.search_catalog_path(f: { human_readable_type_sim: ["Collection"]}),
          :title => "browse collections"
        %>,
      </li>
      <li>
        <%= link_to "Images", 
          main_app.search_catalog_path(f: { resource_type_sim: ["Image"]}),
          :title => "browse images"
        %>,
      </li>
      <li>
        <%= link_to "Texts", 
          main_app.search_catalog_path(f: { resource_type_sim: ["Text"]}),
          :title => "browse texts"
        %>
      </li>
      <li><span>and</span></li>
      <li><a href="https://av.lib.uh.edu/" title="browse audio and video">Audio/Video</a></li>
    </ul>
  </div>
</div>
<div class="image-caption">
  <a href="https://digital.lib.uh.edu/collection/p15195coll16/item/367" title="Sky line, Houston, Texas">Sky line, Houston, Texas</a>
</div>