<div class="no-preview">
  <div><%= t('hyrax.works.show.no_preview') %></div>
  <%= image_tag('insta-red-logo-white.png', :alt => t('hyrax.works.show.no_preview')) %>
  <% if Hyrax.config.display_media_download_link? %>
    <div><%= link_to t('hyrax.file_set.show.download'),
      hyrax.download_path(file_set),
      id: "file_download",
      data: { label: file_set.id },
      target: "_new" %></div>
  <% end %>
</div>
