<div id="pdf-viewer" style="width: 100%" align="left">
  <object data="<%= hyrax.download_path(file_set, disposition: 'inline') %>#view=Fit" type="application/pdf" width="100%" height="800px" align="left">
    <param name="view" value="Fit" />
  </object>
</div>
<%= render 'download_option_pdf', presenter: @presenter, file_set: file_set %>

