<script type="text/javascript" id="embedUV" src="/uv-2.0.2/lib/embed.js"></script>
<div class="viewer-wrapper">
  <div class="uv viewer" data-uri="<%= main_app.polymorphic_url [main_app, :manifest, presenter], { locale: nil } %>"></div>
</div>