/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap-default-overrides";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import 'hyrax/hyrax';
@import 'hyrax/login_signup';
@import 'variables';


body {
  margin-bottom: 0;

  &.dashboard {
    padding-top: 0;
  }
}

.sidebar {
  .profile {
    .profile-logout {
      text-align: center;

      a {
        padding-left: 0 !important;
      }
    }
  }
}

.alert-message {
  margin: -20px 0 20px 0;

  .alert {
    margin: 0;
    border-radius: 0;
  }
}

.metadata-table {
  width: 100%;

  td, th {
    padding: 1rem 0;
    vertical-align: top;
    border-bottom: 1px solid $border;
  }
  th {
    width: 20%;
  }
  td {
    width: 80%;
  }
  th:after {
    content: ":"
  }
  ul.tabular {
    margin: 0;
    padding: 0;
    margin-left: 20px;
  }
}

.work-type {
  margin-top: -20px;
  margin-bottom: 3.375rem;

  .work-type-body {
    padding: 0 2.5rem;
  }

  .work-title-wrapper {
    padding: 20px 40px;
    background-color: $cream;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 3.375rem;

    h1 {
      margin: 0;
      padding: 0;
      color: $slate-dark;
      font-size: 1.75rem;
    }
  }

  &.row {
    margin-left: 0;
    margin-right: 0;
  }

  .work-date {
    span {
      font-weight: bolder;
      color: $slate-dark;
    }
  }

  .work-short-metadata {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.25rem;
    margin-bottom: 2.25rem;

    .metadata-table {
      li {
        float: left;
        &:not(:last-child):after {
          content: "; ";
          margin-right: 5px;
        }
      }
    }
  }

  .social-media {
    background-color: hsl(0, 0%, 95%);

    .share-link {
      padding: 10px;
      font-size: 1.25rem;
      width: 40px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;

      &:hover {
        opacity: 0.7;
      }
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-pinterest {
      background: #cb2027;
      color: white;
    }

    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
  }

  .work-type-extensions {
    padding: 0 2.5rem;
    margin-top: 3.375rem;

    .tab-content {
      margin-top: 20px;

      #access {
        .access-rights {
          padding: 10px 0;
          font-size: 1rem;

          th, td {
            padding-bottom: 20px;
          }

          ul {
            margin: 0;
            padding: 0;
            margin-left: 20px;
          }
        }
      }

      #metadata {
        flex-flow: row wrap;
        font-size: 1.25rem;
        margin-bottom: 2.25rem;

        &.active {
          display: flex;
        }

      }
    }
  }
}