.download-container {
  width: 100%;
  overflow: hidden;
  margin-top: 10px;

  .download-options {
    background-color: #f2f2f2;
    padding: 6px;
    overflow: hidden;
  }

  .access-rights {
    background-color: #9c9c9c;
    padding: 6px;
    color: #fff;

    table {
      tr {
        th {
          font-weight: normal;

          &:after {
            content: ":";
          }
        }
      }

      td {
        a {
          color: #fff;
        }
      }
    }

    ul {
      margin: 0;
      padding: 0 0 0 10px;
    }
  }

  div {
    text-align: left;
    font-size: 14px;
  }

  .title {
    font-weight: 700;
  }

  .download-manifest {
    float: right;
    height: 60px;

    .download-link-manifest {
      line-height: 60px;
      vertical-align: bottom;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .download-btn {
    float: left;
    padding: 5px;
    height: 60px;
    text-align: center;
    position: relative;
    width: 70px;

    a {
      white-space: nowrap;
      padding: 6px 10px;
      color: #fff;
      background-color: #00b388;
      position: absolute;
      bottom: 0;
      left: 0;

      &.medium-btn {
        padding-top: 9px;
        padding-bottom: 9px;
      }

      &.large-btn {
        padding-top: 12px;
        padding-bottom: 12px;
      }

      &.org-btn {
        margin-left: 20px;
        width: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
}