:root {
  --font-milo: 'Milo', sans-serif;
  --font-awesome: 'FontAwesome';
  --font-league-gathic: 'League Gothic', sans-serif;

  --red: #c8102e;
  --brick: #960C22;
  --cream: #fff9d9;
  --gold: #f6be00;
  --white: #fff;
  --chocolate: #640817;
  --dark: #333;
  --slate: #54585a;
  --slate-dark: #555555;
  --teal: #00b388;
  --green: #00866c;
}

html {
  background: #333;
  background: var(--dark);
  font-size: 16px;
}

a {
  color: #c8102e;
  color: var(--red);
}

a:hover,
a:focus {
  color: #960C22;
  color: var(--brick);
  text-decoration: underline;
}

h1 {
  color: #333;
  color: var(--dark);
}

h2 {
  color: #333;
  color: var(--dark);
}

h3 {
  color: #555555;
  color: var(--slate-dark);
}

.breadcrumb * a {
  color: #c8102e;
  color: var(--red);
}

/* BUTTONS */
.btn-primary,
.btn-primary:focus,
.btn-primary.focus {
  background-color: #c8102e;
  background-color: var(--red);
  border-color: #960C22;
  border-color: var(--brick);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus {
  background-color: #960C22;
  background-color: var(--brick);
  border-color: #640817;
  border-color: var(--chocolate);
}

/* PILLS */
.tabbing.nav-pills>li:first-child a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tabbing.nav-pills>li:last-child a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tabbing.nav-pills>li {
  margin-right: 10px;
}

.tabbing.nav-pills>li>a {
  background-color: #00b388;
  background-color: var(--teal);
  margin-right: 10px;
}

.tabbing.nav-pills>li>a.active {
  background-color: #00866c;
  background-color: var(--green);
}

/* PAGE ACTION BUTTONS */
.page_action {
  color: #333;
  color: var(--dark);
}

.page_action:hover {
  color: #00b388;
  color: var(--teal);
  border-color: #00866c;
  border-color: var(--green);
}

/* PAGINATION */

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #00866c;
  color: var(--green);
}

.pagination>li>a,
.pagination>li>span {
  color: #555555;
  color: var(--slate-dark);
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  background-color: #00b388;
  background-color: var(--teal);
  border-color: #00866c;
  border-color: var(--green);
}

/* SIDEBAR */
.largetree-container {
  background-color: #fff;
  background-color: var(--white);
}

.largetree-container tr.current {
  outline: #c8102e;
  outline: var(--red);
}

.largetree-container tr.current td {
  background-color: #c8102e;
  background-color: var(--red);
  color: #fff;
  color: var(--white);
  border: none;
}

.largetree-container tr.current td a {
  color: #fff;
  color: var(--white);
}

.largetree-container tr.current .indentor {
  background-color: #c8102e;
  background-color: var(--red);
}

.largetree-container .indentor {
  background-color: #fff;
  background-color: var(--white);
  background-image: none;
}

.largetree-container table.root tbody tr:nth-of-type(odd) {
  background-color: #fff;
  background-color: var(--white);
}

.more-facets .btn {
  color: #00b388;
  color: var(--teal);
}


/* HEADER */
.uhl-header {
  margin: 0 auto;
  padding: 0;
  height: auto;
  position: relative;
  width: 100%;
  max-width: 1920px;
  background-color: #c8102e;
  background-color: var(--red);
  display: flex;

  a,
  a:visited,
  a:hover {
    color: #fff;
    color: var(--white);
    text-decoration: none;
  }

  .content {
    max-width: 100%;
    width: 100%;

    .site-name {
      background-color: #960C22;
      background-color: var(--brick);
      color: #fff;
      color: var(--white);
      line-height: calc(1em + 3px);
      padding: 10px 0;

      .content {
        width: 100%;
        max-width: 1400px;
        padding-left: 2.5rem;
        padding-right: 2.5rem;

        h1 {
          margin: 0;
          padding: 0;
          text-transform: none;
          font-family: 'League Gothic', sans-serif;
          font-family: var(--font-league-gathic);
          font-size: calc(22px + (44 - 22) * (100vw - 320px) / (992 - 320));
        }
      }
      
    }
  }

  .header-links {
    width: 100%;
    position: relative;
    flex-direction: row;
    flex-grow: 1;

    .content {
      width: 100%;
      max-width: 14400px;
      padding: 0 2.5rem;
      text-align: right;

      .uhlib-logo {
        background: transparent;
        height: 48px;
        position: relative;
        width: auto;
        transition: height .25s;
        float: left;

        & img {
          height: 100%;
          padding: 10px 0;
        }
      }
    }

    .uhlib-links {
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      margin-left: auto;
      justify-content: flex-end;
      height: 48px;

      ul {
        margin-top: 9px;
        margin-bottom: 9px;
        list-style: none;
        padding: 0;
        font-size: .875rem;
        font-family: 'Milo', sans-serif;
        font-family: var(--font-milo);

        li {
          display: inline;
          color: #f6be00;
          color: var(--gold);

          a {
            font-weight: 400;
            color: #fff9d9;
            color: var(--cream);
            padding: 0 10px;
            line-height: 30px;
            display: inline-block;
            vertical-align: middle;
            border-radius: 15px;
            transition: color .25s ease;

            &:hover,
            &:visited {
              text-decoration: none;
              color: #fff9d9;
              color: var(--cream);
            }

            &::before {
              font-family: 'FontAwesome';
              font-family: var(--font-awesome);
              margin-right: 5px;
            }

            &.contact::before {
              content: "\f075";
            }

            &.accounts svg {
              width: 14px;
              height: 14px;
              fill: currentColor;
              vertical-align: middle;
              position: relative;
              margin-top: -2px;
              margin-right: 2px;
            }

            &.giving svg {
              width: 20px;
              height: 20px;
              fill: currentColor;
              vertical-align: middle;
              position: relative;
              margin-right: 5px;
            }
          }
        }
      }
    }

  }

}

.navbar {
  border: none;
  padding: 0;
  border-radius: 0;
  min-height: 48px;

  #search-form-header {
    padding: 7px 0;
    margin-top: 0;

    .input-group {
      margin-bottom: 0;
    }
  }

  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    .row {
      margin-left: 0;
      margin-right: 0;
      padding: 0 15px;
    }
  }

  &.navbar-default {
    background-color: transparent;
    border-color: #960C22;
    border-color: var(--brick);
    border: none;

    .navbar-nav {
      & > .active > a {
        background-color: transparent;
      }

      &>li {
        vertical-align: middle;

        &:hover {
          background-color: #640817;
          background-color: var(--chocolate);
        }

        &>a {
          font-family: 'Milo', sans-serif;
          font-family: var(--font-milo);
          color: #fff9d9;
          color: var(--cream);
          transition: font-size 0.25s;
          font-weight: bold;
          font-size: 1.15rem !important;
          height: 3rem;
          padding: 0 1rem 0 1rem;
          vertical-align: baseline;
          line-height: 3rem;

          &:hover,
          :active {
            color: #fff;
            color: var(--white);
            text-decoration: none;
          }
        }
      }
    }
  }

  &.navbar-static-top {
    background-color: #960C22 !important;
    background-color: var(--brick) !important;
    border: none;
  }



}

#navigation>nav>div>button>.navbar-toggle-hamburger {
  float: left;
}

#navigation>nav>div>button>.navbar-text.visible-xs-inline-block {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  vertical-align: top;
  font-size: 14px;
  line-height: 14px;
  float: left;
}

.navbar-default .navbar-text {
  color: #fff9d9;
  color: var(--cream);
}

/* FOOTER */
.footer {
  margin-top: 30px;
}

.uhl-footer {
  font-family: 'Milo', sans-serif;
  font-family: var(--font-milo);
  font-size: 1rem;
  background: #c8102e;
  background: var(--red);
  position: relative;
}

.uhl-footer a {
  color: #fff;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}

.uhl-footer ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.uhl-footer .footer-inner {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.uhl-footer .footer-inner .footer-links {
  text-align: center;
}

.uhl-footer .footer-inner .footer-links .footer-links-list {
  margin: 10px 0;
}

.uhl-footer .footer-inner .footer-links .footer-links-list li {
  line-height: 34px;
  display: inline-block;
}

.uhl-footer .footer-inner .footer-links .footer-links-list li a {
  padding: 5px 10px;
  display: inline-block;
}

.global-footer {
  background-color: #54585a;
  background-color: var(--slate);
  color: #fff;
  color: var(--white);
  font-size: 14px;
  padding: 1em 0;
  width: 100%;
  height: auto;
  line-height: 1.5;
}

.global-footer .container {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  width: 100%;
}

.global-footer .container a {
  color: #fff9d9;
  color: var(--cream);
  text-decoration: none;
  transition: color .25s ease;
}

.global-footer .container a:hover {
  color: #fff;
  color: var(--white);
}

.global-footer .container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.global-footer .container ul li {
  display: inline-block;
  margin-right: .5em;
  margin-bottom: 0;
  list-style: none;
}

.global-footer .container ul li.nav-item-highlighted a {
  color: #f6be00;
  color: var(--gold);
  transition: color .25s ease;
}

.global-footer a.copyright {
  display: inline;
  margin: 0 .5em 0 0;
  color: #fff;
  color: var(--white);
}

/* NAVIGATION */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff9d9;
  background-color: var(--cream);
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #960C22;
  background-color: var(--brick);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #960C22;
  border-color: var(--brick);
}

/* WELCOME */
.welcome-text {
  margin-top: 20px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .uhlib-links>ul {
    display: none;
  }

  .uhl-header .header-links .content .uhlib-logo img {
    max-width: 100%;
  }
}