  <% if @site_alert.present? %>
  <div class="emergency-alert">
    <div class="header-alert">
      <div class="site-alert" role="alert">
        <%= @site_alert %>
      </div>
    </div>
  </div>
  <% end %>