<ul class="nav nav-tabs work-type-tabs" role="tablist">
  <li role="resentation" class="active">
    <a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab" aria-expanded="false">
      Full Metadata
    </a>
  </li>
  <li role="resentation">
    <a href="#related" aria-controls="related" role="tab" data-toggle="tab" aria-expanded="false">
      Related Items
    </a>
  </li>
  <% if presenter.editor? %>
    <li role="resentation">
      <a href="#files" aria-controls="files" role="tab" data-toggle="tab" aria-expanded="false">
        Files - Staff Only
      </a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="metadata">
    <%= render 'tab_metadata', presenter: presenter %>
  </div>
  <div role="tabpanel" class="tab-pane" id="related">
    <%= render 'tab_related_items', presenter: presenter %>
  </div>
  <% if presenter.editor? %>
    <div role="tabpanel" class="tab-pane" id="files">
      <%= render 'tab_files', presenter: presenter %>
    </div>
  <% end %>
</div>