<div class = "feedback_form">
<button id="feedback_form_btn" type="button" class="btn btn-primary feedback-form">Give us some feedback</button>
<div id="wrapper" class="open" style="display:none" position="centered">
  <ul id="list">
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
  </ul>
</div>
</div>
