<% page_title ||= content_for?(:page_title) ? content_for(:page_title) : default_page_title %>
<% share_url ||= presenter.permalink rescue return %>
<div class="social-media">

  <div class="permalink">
    <label for="permalink-text">
      Permalink
    </label>
    <div class="input-group">
      <%= text_field_tag('permalink-text', share_url, id: "permalink-text", class: "form-control") %> 
      <div class="input-group-btn">
        <button id="permalink-copy-btn" type="button" class="btn btn-primary">
          Copy
        </button>
      </div>
    </div>
  </div>

  <!-- Sharingbutton Facebook -->
  <%= link_to "https://facebook.com/sharer/sharer.php?#{{u: share_url}.to_param}", class: 'fa fa-facebook share-link', target: '_blank', rel: 'noopener noreferrer', alt: t('hyrax.base.social_media.facebook'), title: t('hyrax.base.social_media.facebook') do %>
  <% end %>

  <!-- Sharingbutton Twitter -->
  <%= link_to "https://twitter.com/intent/tweet/?#{{text: page_title, url: share_url}.to_param}", class: 'fa fa-twitter share-link', target: '_blank', rel: 'noopener noreferrer', alt: t('hyrax.base.social_media.twitter'), title: t('hyrax.base.social_media.twitter') do %>
  <% end %>

  <!-- Sharingbutton Pinterest -->
  <%= link_to "http://pinterest.com/pin/create/button/?#{{description: page_title, url: share_url}.to_param}", class: 'fa fa-pinterest share-link', target: '_blank', rel: 'noopener noreferrer', alt: t('hyrax.base.social_media.pinterest'), title: t('hyrax.base.social_media.pinterest') do %>
  <% end %>

</div>
