<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Related Items</h3>
  </div>
  <div class="panel-body">
    <%= presenter.attribute_to_html(:related_item, label: '') %>
  </div>
</div>