<div class="access-rights">
  <table>
    <%= presenter.attribute_to_html(:rights_statement, render_as: :rights_statement, label: t('simple_form.labels.defaults.rights_statement')) %>
    <%= presenter.attribute_to_html(:rights_holder, label: t('simple_form.labels.defaults.rights_holder')) %>
  </table>
</div>
<div class="finding-aid">
  <%= link_to("View item in finding aid", presenter.aspaceurl.last) unless presenter.aspaceurl.blank? %>
</div>